*{
    box-sizing: border-box;
}
.container-feedbacks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(253, 246, 239);
}
.feedback{
    flex-basis: 250px;
    margin: 7px;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px 2px 6px 2px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
}
.quote{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(./assets/icons/format-quote-open.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.quote.green{
    background-color: green;
}
.quote.pink{
    background-color: pink;
}
.feedback-text{
    flex-grow: 1;
}
.feedback-author,
.feedback-author-prof{
    font-size: 0.85em;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feedback-author-company{
    margin-bottom: 0;
    text-align: right;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feedback-author{
    margin-bottom: auto;
    margin-top: 0;
}
.feedback-author-prof{
    margin: 0;
    text-transform: capitalize;
}
.feedback-author.green{
    color: green;
}
.feedback-author.pink{
    color: pink;
}